* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  line-height: 1;
  font-weight: 600;
}

.preview-card-component {
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 25rem;
  border-radius: 9px;
  padding: 1.5rem;
}

.imgs {
  position: relative;
  cursor: pointer;
  border-radius: 9px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.main-img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.hover-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: none;
}
.hover-img:hover {
  background: url("./icon-view.svg") hsl(178, 100%, 50%) no-repeat 50%
    50%;
  background-size: 20% 20%;
  opacity: 0.6;
}

.name-number {
  margin: 1rem 0rem;
  font-size: 1rem;
  font-weight: 600;
  color: #eee;
  padding: 0.4rem 0;
}

.description {
  padding-bottom: 1rem;
  color: hsl(215, 51%, 70%);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3;
}

.list {
  list-style: none;
  display: flex;
  gap: 8rem;
  margin-bottom: 1.5rem;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
}
.list-item:nth-child(1) {
  color: hsl(178, 100%, 50%);
}
.list-item:nth-child(2) {
  color: hsl(215, 51%, 70%);
}

.kinda-footer {
  border-top: 1px solid hsla(215, 52%, 70%, 0.534);
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.kinda-footer p {
  color: hsl(215, 51%, 70%);
}

/* .creator-name {
  display: flex;
  align-items: center;
  gap: 0.4rem;
} */

.author {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid #eee;
}

.link:link,
.link:visited {
  color: #eee;
  text-decoration: none;
  font-weight: 300;
}

.link:hover,
.link:active {
  color: hsl(178, 100%, 50%);
  font-weight: 300;
}
